################################ APP
APP_NAME=
APP_PORT=3031
APP_URL=http://localhost:3031

################################ WORKSPACE
DOCUMENT_ROOT=./
WORKSPACE_NODE_VERSION=14.17.0
WORKSPACE_HTTP_PORT=3032
WORKSPACE_SSH=2234


################################ KEYCLOAK
KEYCLOAK_URL=
KEYCLOAK_CLIENT_ID=
KEYCLOAK_CLIENT_SECRET=
KEYCLOAK_GRANT_TYPE=
KEYCLOAK_USERNAME=
KEYCLOAK_PASSWORD=
